* 
 {margin:auto ; 
  padding: auto; 
  scroll-behavior: smooth;}

body 
 {background-color: bisque; 
  font-size: 25px; 
  font-weight:bold;}

h1,h2
 {font-family: 'Grape Nuts';}

p {font-family: 'Nunito'; 
   font-style: italic;}

a {text-decoration: none; }
a:visited{color: transparent;}

@font-face 
{font-family: 'Grape Nuts';
 src: url('Font/GrapeNuts-Regular.woff2') format('woff2'),
      url('Font/GrapeNuts-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;}

@font-face 
 {font-family: 'Nunito';
  src: url(Font/Nunito-ExtraLightItalic.woff2) format('woff2'),
       url(Font/Nunito-ExtraLightItalic.woff) format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;}
    
@font-face 
    {font-family: 'Nunito';
     src: url(/Font/Nunito-ExtraLight.woff2) format('woff2'),
          url(/Font/Nunito-ExtraLight.woff) format('woff');
     font-weight: 200;
     font-style: normal;
     font-display: swap;}
    


.container 
    {width: 1200px; 
    background-color:#E2FDFF;}

.main-navbar
    {background-color: transparent; 
     position: fixed; 
     width: 75rem; 
     display: flex; 
     height:80px}

.main-navbar__logo 
    {justify-content: flex-end; 
    background-color: transparent;}

.main-navbar__logo 
    {margin: 1%;}

.main-navbar__logo img 
    {width: 50px; }

.main-navbar__list 
    {margin-right: 5%;}

.main-navbar__list li 
    {display: inline; 
    list-style-type: none;  
    padding: 10px;
    border-radius: 30px;
    background-color: #BFD7FF;
    font-family: 'Grape Nuts';}
    
.main-navbar__list li:hover
    {text-decoration:underline 2px; 
     color: white; 
     font-style: italic;}
    

.main-header 
    {display: inline-block; 
    margin-top: 70px; 
    background-image: url(Foto/Sorriso.jpg);
    background-repeat: no-repeat; 
    width: 100%; 
    height: 90%;}


.main-header__component 
    {text-align: center;  
    padding-right: 20%;
    font-size: 2.5rem;
    margin-top: 5%;
    height: 200px;}
    
.main-cta input
     {background-color: #ffffff;
      border-radius: 8px;
      border-style: none;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      height: 40px;
      padding: 10px 16px;
      text-align: center;
      text-transform: uppercase;}
    
.header__cta input:hover
    {background-color: #5465FF;
     color: #ffffff;
     font-style: italic;
     box-shadow: 0px 30px 60px -12px rgba(0, 0, 0, 1);}

.main-tabs 
    {height: 450px;  
    display: flex;}

.main-tabs__img__first img{
    width: 150px; 
    height: 150px; 
    margin-left:7.5rem; 
    margin-top: 3rem; 
    border-radius: 50%; 
    border:solid 5px; 
    border-color:#1ADACF;
    z-index:-1}

.main-tabs__img 
    {width: 400px; 
    height: 350px; 
    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border:solid 7px; 
    border-color:#1ADACF;}

.main-tabs__img__first h2
    {font-size: 20px; 
     text-align: center; 
     margin-top: 5%;}    

.main-tabs__text
    {width: 400px; 
    height: 300px; 
    text-align: center; 
    font-size: 24px;}

.tabs__cta input{background-color: #54ff6e;
      color: #ffffff;}

      
.tabs__cta input:hover
    {background-color: #ffffff;
    color: #000000;
    font-style: italic;
    box-shadow: 0px 30px 60px -12px rgba(0, 0, 0, 1);}


.main-tabs__second 
    {font-size: 24px; 
    display: flex; 
    flex-direction:row-reverse;}

.main-tabs__img__property img 
    {width: 100%; 
    height: 22rem; 
    border-radius: 1%;}

.main-tabs__text__second h2
        {margin-top: 10px; 
        font-size: 3em; 
        margin-bottom: 5%; 
        text-align: center; 
        font-weight: 900;}

.main-tabs__text__second li
    {text-align: center; 
    padding: 4px; 
    list-style: none; 
    margin-right: 20%;
    font-style: italic; 
    font-weight: 900;}

.main-tabs__second__cta input
  {margin-right: 20%;}

.form
  {width: 100%; 
   background-color: transparent;}

.tabs-form 
    {margin-bottom:30px;
     display: flex; 
     flex-direction:column;}

.tabs-form__box
    {display: flex; 
     flex-direction: row;}


.text-box__property input 
    {border-radius: 50px;
     width: 300px;
     height: 30px; 
     outline: none;
     border:solid 1;
     border-color: #000000;
     text-transform: capitalize;}


::placeholder
 {color: black; 
  text-align: center;}


.text-box__submit input
 {width: 150px;
  background-color: #5465FF;}

.text-box__submit input:hover
 {background-color: #54ff6e;}

.main-footer 
 {margin-top:20px; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;}


.main-footer__social
 {width: 200px;}

.main-footer__link li 
    {list-style-type: none; 
     padding: 5px;
     font-family: 'Grape Nuts';
     text-align: center;}

.main-footer__link li:hover
    {text-decoration:underline 2px; 
    color: white; 
    font-style: italic;
    border-radius: 30px;
    background-color: #BFD7FF;}  


.main-footer__social img 
 {width: 30px;}  

.title-contact p 
 {text-align: center;}

.main-footer__social 
    {display: flex; 
    margin-top:20px;}

